@import 'tailwindcss';
body {
  font-family: var(--font-neue-montreal);
}

.chart {
  background-image: url('../assets/Ellipse.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  filter: blur(0px);
  opacity: 0.9;
}
.glow-circle {
  background: radial-gradient(
    circle,
    rgba(16, 185, 129, 0.3) 0%,
    rgba(16, 185, 129, 0.12) 35%,
    rgba(0, 0, 0, 0) 70%
  );
  /* filter: blur(40px); */
}
